@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,500,600&display=swap');
body {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  font-size: 1.2vw;
}

/* NAVBAR */
.navbar {
/* background-color: rgb(46, 75, 240) !important; */
background-color: white !important;
}

#navLogo {
  width: 15vw;
}