/* Course detail page */
.CourseDetail {
  margin: 3vh 15vw 0 15vw;
}
.CourseDetail h4 {
  background-color: rgb(66, 138, 206);
  color: white;
  width: 13vw;
  padding-left: 1vw;
  border-radius: 15%;
}



.CourseDetailTop {
  display: grid;
  grid-template-columns: 35vw 30vw;
  grid-column-gap: 5vw;
}

.courseTitle {
  margin-bottom: 1vh;
}

.courseDetailImg {
  width: 35vw;
  height: auto;
}

.detailText {
  margin-top: 2vh;
}



.CourseDetailBottom {
  margin: 5vh 0 3vh 0;
}

.btnDetail {
  background-color: rgb(9, 39, 209) !important;
  border-color: rgb(9, 39, 209) !important;
  margin-right: 0.5vw;
}

.backToCourses {
  font-weight: 500;
}

